.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21px;
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
}
.instruction {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 14px;
    font-family: "Helvetica", sans-serif;
    font-weight: thin;
}
.buttonWrapper {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.button {
    --background: #58C0EA;
    display: inline-block;
    width: 150px;
    height: 45px;
    text-align: center;
    font-size: 14px;
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
    text-transform: none;
    color: white;
    cursor: pointer;
}