.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #DFB35A;
    height: 100%;
    width: 100%;
}

.brand {
    font-family: Lustria;
    font-size: 5rem;
    color: #fff;
    text-align: center;
    height: 30%;
    margin: 0;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.startButton {
    height: 8%;
    font-size: 1.5rem;
    font-weight: bold;
}